html, body {height:100%;}

body{
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #CECECE;
}

p {
    font-family:"Raleway";
}

h1 {
	font-family:"Pacifico";
	font-weight:normal;
	font-size: 40px;
	text-align: center;
	color: #30C29E;
	margin: 0;
	padding: 0;
}
h2 {
	font-family:"Raleway";
	font-weight: bold;
	font-size: 2em;
	text-align: left;
	color: #fff;
	margin: 0;
	padding: 0;
}
h3 {
	font-family: "Raleway";
	font-weight: normal;
	font-size: 16px;
	text-align: center;
	margin: 5px 0;
	padding: 0;
	z-index: 1;
	position: relative;
}
.center { margin: 0 auto; }
.content{ margin: 0 auto; width: auto; }
.clear { clear: both; }

a {
	color: #30C29E;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #444;
}

img {
	width: 100%;
}

header {
	background: #fff;
	width: 100%;
	height: 76px;
	top: 0;
	left: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid #30C29E;
}

#logo {
	margin-top: 8px;
    margin-left: 40px;
	float: left;
	width: 60px;
	height: 60px;
	background-image: url(../img/fresh_air_logo.png);
    background-repeat: no-repeat;
    background-size: contain;
	display: block;
}

#title {
	height: 60px;
	display: block;
	float: left;
}

nav {
	float: right;
	padding: 20px;
}

#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
	background: #4C8FEC url(../img/menu-icon.png) center;
}

a:hover#menu-icon {
	background-color: #444;
	border-radius: 4px 4px 0 0;
}

ul {
	list-style: none;
}

li {
  font-family:"Raleway";
	display: inline-block;
	float: left;
	padding: 10px
}

/*Should it be fluid? */
#search{
	width: 100%;
	background-color: #CECECE;	color: #333333;
	/*height: 300px;*/
	margin: 0 auto;
	overflow: hidden;
	padding: 200px 0;
	text-align: center;
}

.item-list{
    margin: auto;
    width: 50%
}

.item-container{
    margin: 20px 20px 20px 20px;
    overflow: auto;
	background-color: #666666;
}

.item-container-page{
    margin: 20px 20px 20px 20px;
    overflow: auto;
	background-color: #666666;
}

.item-container:hover {background: #30C29E;}

.item-content{
    margin-left: 210px;
}

.item{
	padding-left: 25px;
	color: #77CCA4;
}

.listing-thumbnail{
    width: 200px;
    height: 200px;
    float: left;
}

.listing-thumbnail img{
    display: block;
}

.detailed-thumbnail{
    width: 300px;
    height: 300px;
    float: left;
}

.detailed-thumbnail img{
    display: block;
}

.imageDrop {
	position: absolute;
	top: 100px;
	left: 1000px;
	z-index: 5;
	height: 50px;
    width: 50px;
}

.item-heading {
    padding-left: 350px;
    padding-top: 10px;
    padding-right: 30px;
}

.item-body {
    padding-left: 350px;
}

#createForm{
	width: 100%;
	color: #333333;
	height: 300px;
	margin: 0 auto;
	padding: 200px 0;
	text-align: center;
}


#foot{
  width: 200px;
  float: right;
  margin-top: 20px;
  font-family:"Raleway";
}

#chatBox {
	position:absolute;
	left:0px;
	top:0px;
}

#pic1 {
	width:100px;
	height:100px;
	display:none;
}
#pic2 {
	width:100px;
	height:100px;
	display:none;
}

.svg-footer {
     position: fixed;
     bottom: 0px;
     width: 100%;
}

.house:hover {
    fill: #CE5BD9;
}

/*what is this doing*/
.site-footer, .page-wrap:after {
  height: 60px;
}

.site-footer {
      background: #fff;
      box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
      border-top: 1px solid #30C29E;
    	position:fixed;
    	left:0px;
      bottom:0px;
      height:60px;
      width:100%;
}

/*Form styling*/

.form-styling {
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
}

.form-styling input[type="text"],
.form-styling textarea,
.form-styling select {
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}
.form-styling input[type="text"]:focus,
.form-styling textarea:focus,
.form-styling select:focus {
    box-shadow: 0 0 5px #43D1AF;
    padding: 3%;
    border: 1px solid #43D1AF;
}

.form-styling input[type="submit"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
}

.form-styling input[type="submit"]:hover {
    background: #2EBC99;
}

/* Condense the navigation menu and turn off paralaxing if needed. */
@media only screen and (max-device-width: 1024px) {

header {
	position: absolute;
}

.item-list{
    margin-top: 100px;
    width: 100%
}


	#menu-icon {
		display:inline-block;
	}

	nav ul, nav:active ul {
		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;
	}

	nav li {
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
	}

	nav:hover ul {
		display: block;
	}

}
